body {
    text-align: center;
    font-size: 20px;
}

h2 {
    color: black;
}
a{
    color: rgb(4, 29, 37);
    font-size: 30px;
}

a:hover {
    color: burlywood;
}

marquee {
    style: center;
}
